<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<!--
  Run everything:   mvn test
  API tests only:   mvn test -Dtest="TaskCrudApiTest,TaskFilterApiTest,TaskSchemaValidationTest,WireMockContractTest"
  UI tests only:    mvn test -Dtest="DashboardUiTest"
-->
<suite name="TaskFlow QA Suite" verbose="1" parallel="methods" thread-count="3">

    <test name="API Tests">
        <classes>
            <class name="com.taskflow.tests.api.TaskCrudApiTest"/>
            <class name="com.taskflow.tests.api.TaskFilterApiTest"/>
            <class name="com.taskflow.tests.api.TaskSchemaValidationTest"/>
        </classes>
    </test>

    <test name="Contract Tests">
        <classes>
            <class name="com.taskflow.tests.api.WireMockContractTest"/>
        </classes>
    </test>

    <test name="UI Tests">
        <classes>
            <class name="com.taskflow.tests.ui.DashboardUiTest"/>
        </classes>
    </test>

</suite>
